@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playfair+Display:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {

  background-color: #010026;
  @apply text-white;
}
.statsBox{
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}
@media all and (min-width:481px)and (max-width:768px){
  .statsBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 100%;
    
    gap: 1rem;
  }
  
}
@media all and (min-width:320px)and (max-width:480px){
  .statsBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 100%;
    gap: 1rem;
  }
  
}